<div>
    <section ng-repeat="order in orders">
    <label class="label"><span style="font-size:15px">Order id : </span><br /> <span class='txt-color-blue'>{{order.id}}</span></label>
    <label class="label"><span style="font-size:15px">User : </span><br /> <span class='txt-color-blue'>{{order.user}}</span> </label>

    <label class="label"><span style="font-size:15px">Date/time : </span> <br /> <span class='txt-color-blue'>{{order.time}}</span> </label>
    <label class="label"><span style="font-size:15px">Status : </span><br />  <span class='txt-color-blue'>{{order.status}}</span> </label>
    <label class="label">Items: <br /><ul class="txt-color-blue">
    <li ng-repeat="item in order.items">
    {{item}}
        
    </li>
        
    </ul></label>
    
    


    </section>
</div>