
<style type="text/css">
.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
  color: #fff;
  background-color: #9DDEF9!important;
  border-color: #385764!important;
}
</style>

<div class="row">
    
    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-tasks"></i> 
                Budgets
            <span>  
                Budgets Estimates that overlap that month
            </span>
        </h1>
    </div>
    <!-- end col -->
    
    <!-- right side of the page with the sparkline graphs -->
    <!-- col -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        
    </div>
    <!-- end col -->
    
</div>
<!-- end row -->

<!--
    The ID "widget-grid" will start to initialize all widgets below 
    You do not need to use widgets if you dont want to. Simply remove 
    the <section></section> and you can use wells or panels instead 
    -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">
        
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    
                    data-widget-colorbutton="false" 
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true" 
                    data-widget-sortable="false"
                    
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-tasks"></i> </span>
                    <h2>Budgets Estimates for Budget Month Starting  {{budgetdate}}</h2>              
                    
                </header>

                <!-- widget div-->
                <div>
                    
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">    
                    </div>
                    <!-- end widget edit box -->
                    
                    <!-- widget content -->
                    <div class="widget-body">
                    <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                               <div class="widget-body-toolbar bg-color-white">

                                    <div class="row">
                                                <div class="col-md-7 col-xs-12 col-sm-12" ui-view="dateselector">

                                                </div>
                                                <div class="col-md-2 col-xs-12 col-sm-12">
                                                    
                                                        <button class="btn btn-success " ng-click="add_budgetEstimate()" ng-disabled="!isCurrentMonth">Add Budget Estimate</button>
 
                                                </div>
                                                <div class="col-md-2 col-xs-12 col-sm-12">
                                                    
                                                        <button class="btn btn-success " ng-click="get_recurring()" ng-disabled="!isCurrentMonth">Get Recurring</button>
 
                                                </div>
                                                
                                                
                                            </div>
                                        </div>

                                </div>
                                
                        <div class="table-responsive" cg-busy="{promise:budgets_promise,message:'Please Wait',minDuration:300}">
                        <table class="table table-bordered">
                    
                            <thead>
                                <th>Category</th>
                  
                                <th>Amount</th>
                                <th>Edit</th>

                            </thead>
                            <tbody>
                                <tr ng-repeat="budget in budget_estimates">
                                
                                <td>{{budget.budget_category.name}}</td>
                                <td>Ksh {{budget.amount | number : 2}}</td>
                                <td><button class="btn btn-success" ng-click="edit_budget_estimate(budget)" ng-disabled="!isCurrentMonth">Edit</button></td>
                                
                                

                                    
                                </tr>
                            </tbody>
                        </table>
                            
                        </div>
                    

                    </div>
                    <!-- end widget content -->
                    
                </div>
                <!-- end widget div -->
                
            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->
        
    </div>

    <!-- end row -->

    <!-- row -->


    <!-- end row -->

</section>

<script type="text/ng-template" id="Budget_Estimate.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Budget Estimate</h3>
        </div>
        <div class="modal-body">

        <form class="smart-form" novalidate name='budget_form' >
                  
            <fieldset>
            <section>
                      <label class="label">Category</label>
                      <label class="select">
                          <select ng-model="new_budget_estimate.budget_category" ng-options="category.name for category in categories"/>
                                              
                          </select> <i></i>
                      </label>
                      </section> 
                 

                   <section ng-class="{ 'state-error' : budget_form.amount.$invalid }">        
                           <label class="label">Amount</label>
                               <label class="input">
                               <input type="number"  ng-model="new_budget_estimate.amount" required name="amount" min="1"/>
                           </label>
                           <div class="note note-error" ng-show="budget_form.amount.$error.min" >Amount Must Be More Than Zero.</div>

                           <div class="note note-error" ng-show="budget_form.amount.$invalid" >Amount is required.</div>
                    </section>



            </fieldset>
        </form>                      

            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()" ng-disabled="budget_form.$invalid">Save Budget Estimate</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>


<script type="text/ng-template" id="edit_budget_estimate.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Budget Estimate</h3>
        </div>
        <div class="modal-body">

        <form class="smart-form" novalidate name='budget_form' >
        
            <fieldset>
                <section>
                <label class="label">Categories</label>
                <label class="select">
                    <select ng-model="budget_estimate.budget_category" ng-options="category.name for category in  categories" />
                                        
                    </select> <i></i>
                </label>
                </section>

                <section ng-class="{ 'state-error' : budget_from.amount.$invalid }">        
                <label class="label">Amount</label>
                    <label class="input">
                    <input type="text"  ng-model="budget_estimate.amount" required name="amount" min=1 />
                </label>
                <div class="note note-error" ng-show="budget_form.amount.$error.min" >Amount Must Be More Than Zero.</div>

                           <div class="note note-error" ng-show="budget_form.amount.$invalid" >Amount is required.</div>
                </section>
            </fieldset>
        </form>            




            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Save Budget Estimate</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>


