
 <form class="form-inline" role="form">

    <div class="form-group">
            <label class="" for="s123">From</label>
         <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="date2" is-open="date2_opened" max-date="'2015-06-22'" datepicker-options="dateOptions"  show-button-bar='false' ng-click="open_date2($event)"  >
    </div>
    <div class="form-group">
            <label class="" for="s123">To</label>

         <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="date1" is-open="date1_opened" max-date="'2015-06-22'" datepicker-options="dateOptions"  show-button-bar='false' ng-click="open_date1($event)"  >
    </div>

    <button class="btn btn-success" ng-click="submit()">Submit</button>

    

</form>