
 <form class="form-inline" role="form">

    <div class="input-group">
   <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="previous_month()"><i class="glyphicon glyphicon-chevron-left"></i></button>
      </span>

         <input type="text" datepicker-popup="yyyy-MM-dd" class="form-control" ng-model="budgetdate" is-open="date1_opened"  show-button-bar='false' ng-click="open_date1($event)" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'" ng-change="month_changed()"  >
         <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="next_month()"><i class="glyphicon glyphicon-chevron-right"></i></button>
      </span>
    </div>


    

</form>