<!-- partial-home-list.html -->
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-envelope-o"></i> Manage <span> Categories </span></h1>
        
    </div>

    
    
</div>

<section id='widget-grid'>
        
        <div class="row">

        <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Categories </h2>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-10" style="margin-bottom:15px!important">
        <button class="btn btn-success">Add Category</button>
    </div>

                                        <div class="table-responsive"> 

                                        <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                               <th>Name</th>
                                               <th>Parent</th>
                                               <th>Edit</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                        <tr ng-cloak ng-repeat="category in categories">
                                               <th>{{category.name}}</th>
                                               <th>{{category.parent}}</th>
                                               <th>Edit</th> 
                                            </tr>
                                        
                                        
                                            
                                        </tbody>
                                            
                                        </table>
                                        </div>
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>

            
        </div>
    </section>