


<div class="row">
    
    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i> 
                Accounts
            <span>>  
                Accounts Summary
            </span>
        </h1>
    </div>
    <!-- end col -->
    
    <!-- right side of the page with the sparkline graphs -->
    <!-- col -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        
    </div>
    <!-- end col -->
    
</div>
<!-- end row -->

<!--
    The ID "widget-grid" will start to initialize all widgets below 
    You do not need to use widgets if you dont want to. Simply remove 
    the <section></section> and you can use wells or panels instead 
    -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">
        
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    
                    data-widget-colorbutton="false" 
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true" 
                    data-widget-sortable="false"
                    
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                    <h2>Accounts Summary</h2>              
                    
                </header>

                <!-- widget div-->
                <div>
                    
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">    
                    </div>
                    <!-- end widget edit box -->
                    
                    <!-- widget content -->
                    <div class="widget-body">
                    <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                               <div class="widget-body-toolbar bg-color-white">

                                    <div class="row">
                                                <div class="col-md-7 col-xs-12 col-sm-12" ui-view="dateselector">

                                                </div>
                                                <div class="col-md-2 col-xs-12 col-sm-12">
                                                    
                                                        <button class="btn btn-success " ng-click="create_transaction()">Add New Account</button>
 
                                                </div>
                                                <div class="col-md-3 col-xs-12 col-sm-12">
                                                     <span ng-cloak>PAGE {{meta.offset/meta.limit+1}} of {{meta.total_count/meta.limit|number : 0 }}</span>
                        <button class="btn btn-default" role="button" ng-click="get_previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                        <button class="btn btn-default" role="button" ng-click="get_next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                </div>
                                                
                                            </div>
                                        </div>

                                </div>
                                
                        <div class="table-responsive" cg-busy="{promise:transactions_promise,message:'Please Wait',minDuration:300}">
                        <table class="table table-bordered">
                    
                            <thead>
                                <th>Transaction Type</th>
                                <th>Date Entered</th>
                                <th>Amount</th>
                                <th>Category</th>
                                <th>Sub Category</th>

                            </thead>
                            <tbody>
                                <tr ng-repeat="transaction in transactions">
                                <td>{{transaction.transaction_type}}</td>
                                <td>{{transaction.created |date : 'MMM dd yyyy, HH:mm'}}</td>
                                <td>Ksh {{transaction.amount | number : 2}}</td>
                                <td>{{transaction.category.name}}</td>
                                <td>{{transaction.sub_category.name}}</td>

                                    
                                </tr>
                            </tbody>
                        </table>
                            
                        </div>
                    

                    </div>
                    <!-- end widget content -->
                    
                </div>
                <!-- end widget div -->
                
            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->
        
    </div>

    <!-- end row -->

    <!-- row -->


    <!-- end row -->

</section>

<script type="text/ng-template" id="transaction_form_template.html">
        <div class="modal-header">
            <h3 class="modal-title">Create A New Account</h3>
        </div>
        <div class="modal-body">

        <form class="smart-form" novalidate name='transaction_form' >
                  
            <fieldset>
                <section ng-class="{ 'state-error' : transaction_form.type.$error.required }">
                   <label class="label">Account Type</label>
                   <label class="select">
                       <select ng-model="new_transaction.transaction_type" ng-options="type for type in transaction_type" 
                       name="type" required/>
                                           
                       </select> <i></i>
                       <div class="note note-error" ng-show="transaction_form.type.$error.required" >Account Type is required.</div>
                   </label>
                   </section>  

                   <section ng-class="{ 'state-error' : transaction_form.amount.$invalid }">        
                           <label class="label">Amount</label>
                               <label class="input">
                               <input type="number"  ng-model="new_transaction.amount" required name="amount" min="1"/>
                           </label>
                           <div class="note note-error" ng-show="transaction_form.amount.$error.min" >Amount Must Be More Than Zero.</div>

                           <div class="note note-error" ng-show="transaction_form.amount.$invalid" >Amount is required.</div>
                    </section>

                    <section>
                      <label class="label">Category</label>
                      <label class="select">
                          <select ng-model="new_transaction.category" ng-options="category.name for category in categories"  ng-change="change_category_children(new_transaction.category)"/>
                                              
                          </select> <i></i>
                      </label>
                      </section>  

                      <section>
                      <label class="label">Sub Category</label>
                      <label class="select">
                          <select ng-model="new_transaction.sub_category" ng-options="category.name for category in sub_categories" />
                                              
                          </select> <i></i>
                      </label>
                      </section> 


            </fieldset>
        </form>                      

            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()" ng-disabled="transaction_form.$invalid">Save Transaction</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>