<!DOCTYPE html>
<html lang="en-us" ng-app="budgetApp">    
    <head>
        <meta charset="utf-8">
        <title> Budget web app - {% block title %} {% endblock title %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <!-- #CSS Links -->
        <!-- Basic Styles -->
        <style type="text/css">
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
        </style>



        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ui-grid/ui-grid.css?v=1.2" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/bootstrap.min.css?v=1.2">
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/font-awesome.min.css?v=1.2">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css?v=1.2) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-production.min.css?v=1.2">
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-skins.min.css?v=1.2">
        <link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css?v=1.2" rel="stylesheet">

        <!-- SmartAdmin RTL Support is under construction
             This RTL CSS will be released in version 1.5
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-rtl.min.css?v=1.2"> -->

        <!-- We recommend you use "your_style.css?v=1.2" to override SmartAdmin
             specific styles this will also ensure you retrain your customization with each SmartAdmin update. -->
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/style.css?v=1.2"> -->
    
        <link rel="stylesheet" type="text/css" media="screen" href='{{ STATIC_URL }}angular-busy/angular-busy.css?v=1.2'>
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/toaster.css?v=1.2">
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/transition_styles.css?v=1.2">



        

        <!-- #FAVICONS -->
        <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

        <!-- #GOOGLE FONT -->
        {# <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"> #}

        <!-- #APP SCREEN / ICONS -->
        <!-- Specifying a Webpage Icon for Web Clip 
             Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">
        
        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        
        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">

        <style type="text/css">
        
        
        
        </style>
        {% block extra_css %}
            
        {% endblock extra_css %}

    </head>

    
    <body class="fixed-footer" >
    <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>

    <header id="header">
            

            <!-- #PROJECTS: projects dropdown -->
            
            <!-- end projects dropdown -->
            
            <!-- #TOGGLE LAYOUT BUTTONS -->
            <!-- pulled right: nav area -->
            <div class="pull-right">
                
                
                <div id="hide-menu" class="btn-header pull-right">
                

                    <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
                </div>
                    
                

            

            </div>
            <!-- end pulled right: nav area -->

        </header>

        
        <aside id="left-panel" >

            <!-- User info -->
            <div class="login-info">
                
            </div>
            <!-- end user info -->

            <!-- NAVIGATION : This navigation is also responsive

            To make this navigation dynamic please make sure to link the node
            (the reference to the nav > ul) after page load. Or the navigation
            will not initialize.
            -->
            <nav >
              
                <ul >
                    <li  >
                        <a  title="Dashboard" ><i class="fa fa-lg fa-fw fa-tachometer"></i> <span class="menu-item-parent">Dashboard</span></a>
                    </li>

                    <li ui-sref-active="active" >
                        <a ui-sref="transactions" title="Accounts" ><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent">Accounts</span></a>
                    </li>
                    <li  ui-sref-active="active">
                        <a ui-sref="budgets" title="Budget" ><i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent">Budgets</span></a>
                    </li>
                    <li>
                        <a  title="Reports" ><i class="fa fa-lg fa-fw fa-bar-chart"></i> <span class="menu-item-parent">Reports</span></a>
                    </li>


                    
                    
  
                    

                  
                </ul>

            </nav>
                
            
            
            

        </aside>
        <!-- END NAVIGATION -->

        <!-- #MAIN PANEL -->
        <div id="main" role="main">

        <div ui-view id="content"></div>

        </div>
        <!-- END #MAIN PANEL -->

        <!-- #PAGE FOOTER -->
        <div class="page-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <span class="txt-color-white">Budget WebApp © 2015</span>
                </div>

                
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>


        
        
        <script src="{{STATIC_URL}}js/libs/jquery-2.0.2.min.js?v=1.2"></script>
        

        <script src="{{STATIC_URL}}js/libs/jquery-ui-1.10.3.min.js?v=1.2"></script>
        

        <script type="text/javascript" src='{{ STATIC_URL }}js/angular/angular.min.js?v=1.2'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}js/angular/angular-resource.min.js?v=1.2'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}js/angular/angular-route.min.js?v=1.2'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}js/angular/angular-ui-router.min.js'></script>

    <script type="text/javascript" src='{{ STATIC_URL }}js/angular/angular-sanitize.min.js?v=1.2'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}js/angular/angular-touch.min.js?v=1.2'></script>

    <script type="text/javascript" src='{{ STATIC_URL }}js/angular/angular-cookies.min.js?v=1.2'></script>

    <script type="text/javascript" src='{{ STATIC_URL }}js/angular/angular-animate.min.js?v=1.2'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}js/angular/ui-bootstrap-tpls-0.11.2.min.js?v=1.2'></script>
    
    <script src="{{ STATIC_URL }}angular-busy/angular-busy.js"></script>
     <script type="text/javascript" src="/static/scripts/app.js?v=1.4"></script>
     <script type="text/javascript" src="/static/scripts/services/dateservice.js"></script>
     <script type="text/javascript" src="/static/scripts/services/models.js"></script>
     <script type="text/javascript" src="/static/scripts/directives/datetimepopup.js"></script>




     <script type="text/javascript" src="/static/scripts/controllers/transactions.js"></script>
     <script type="text/javascript" src="/static/scripts/controllers/budgets.js"></script>

     <script type="text/javascript" src="/static/scripts/controllers/dateselector.js"></script>
     <script type="text/javascript" src="/static/scripts/controllers/dateselectorbudgets.js"></script>






        <!-- IMPORTANT: APP CONFIG -->
        <script src="{{STATIC_URL}}js/app.config.js?v=1.2"></script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
        <script src="{{STATIC_URL}}js/plugin/jquery-touch/jquery.ui.touch-punch.min.js?v=1.2"></script> 

        <!-- BOOTSTRAP JS -->
        <script src="{{STATIC_URL}}js/bootstrap/bootstrap.min.js?v=1.2"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="{{STATIC_URL}}js/notification/SmartNotification.min.js?v=1.2"></script>

        <!-- JARVIS WIDGETS -->
        <script src="{{STATIC_URL}}js/smartwidgets/jarvis.widget.min.js?v=1.2"></script>

        <!-- EASY PIE CHARTS -->
        
         <script src="{{STATIC_URL}}js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js?v=1.2"></script>

        <!-- SPARKLINES -->
        <script src="{{STATIC_URL}}js/plugin/sparkline/jquery.sparkline.min.js?v=1.2"></script>

        

        <!-- JQUERY VALIDATE -->
        <script src="{{STATIC_URL}}js/plugin/jquery-validate/jquery.validate.min.js?v=1.2"></script>

        <!-- JQUERY MASKED INPUT -->
        <script src="{{STATIC_URL}}js/plugin/masked-input/jquery.maskedinput.min.js?v=1.2"></script>

        <!-- JQUERY SELECT2 INPUT -->
        <script src="{{STATIC_URL}}js/plugin/select2/select2.min.js?v=1.2"></script>

        <!-- JQUERY UI + Bootstrap Slider -->

<!--        <script src="{{STATIC_URL}}js/plugin/bootstrap-slider/bootstrap-slider.min.js?v=1.2"></script>
 -->
        <!-- browser msie issue fix -->
        <script src="{{STATIC_URL}}js/plugin/msie-fix/jquery.mb.browser.min.js?v=1.2"></script>

        <!-- FastClick: For mobile devices: you can disable this in app.js?v=1.2 -->
        <script src="{{STATIC_URL}}js/plugin/fastclick/fastclick.min.js?v=1.2"></script>

        <!--[if IE 8]>
            <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
        <![endif]-->

        <!-- Demo purpose only -->
        <!--<script src="{{STATIC_URL}}js/demo.min.js?v=1.2"></script>-->

        <!-- MAIN APP JS FILE -->
        <script src="{{STATIC_URL}}js/app.min.js?v=1.2"></script>

<script type="text/javascript">
            function camelToDash(str) {
              // converts resource urls to format required by api
              return str.replace(/([a-z\d])([A-Z])/g, '$1_$2').toLowerCase();
            }

        </script>
        


    </body>

</html>