
<ul >
    <li ui-sref-active="active" >
        <a ui-sref="manage-categories" title="Manage" ><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Manage</span></a>
    </li>
    <li ng-class=""  >
        <a ui-sref="manage-categories" title="Manage" ><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Manage</span></a>
    </li>
  
  
</ul>
