<span class="ribbon-button-alignment" style="margin-right:25px">
    <!--sub menu for home/dashboard nav -->
    <div class="sub_nav_menu" class="active">
        <ul class='sub_nav_menu_ul'>
                <li >
                    <a href="">Categories</a>
                </li>
                
                
            </ul>

    </div>

    <!--sub menu for orders nav -->

</span> 